$fontcolor: #000;
$background-color: #f19149;
$h1fontsize: 32px;
$h2fontsize: 30px;
$confontsize: 16px;
$namefontsize: 20px;
.topbar {
  width: 100%;
  background-color: $background-color;
  display: flex;
  justify-content: center;
}
.wehelp {
  width: 60%;
  background-color: #ffffff;
  margin-top: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wehelp h1 {
  font-size: $h1fontsize;
  color: $fontcolor;
  font-family: sans-serif;
  margin-top: 25px;
  margin-bottom: 25px;
}
.waving {
  width: 100%;
  height: 450px;
  margin-bottom: 10px;
}
.bigwaving {
  width: 100%;
  height: 450px;
  object-fit: cover;
}
.smallwaving {
  display: none;
}
.profile {
  width: 100%;
  margin-top: 30px;
  display: flex;
}
.photo {
  width: 50%;
  padding-bottom: 5%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}
.intro {
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}
.intro1 {
  font-size: $h2fontsize;
  color: $fontcolor;
  font-family: sans-serif;
  margin-top: 5px;
  margin-bottom: 5px;
  /*line-height: 150px;*/
}
.intro2 {
  font-size: $confontsize;
  color: $fontcolor;
  font-family: sans-serif;
  margin: 50px 26px 26px 15px;
  line-height: 40px;
  white-space: wrap;
}
.intro3 {
  font-size: $h2fontsize;
  color: $fontcolor;
  font-family: sans-serif;
  margin-top: 105px;
  margin-bottom: 5px;
}
.intro4 {
  font-size: $confontsize;
  color: $fontcolor;
  font-family: sans-serif;
  margin: 50px 26px 26px 15px;
  line-height: 40px;
  white-space: wrap;
}
.showbar {
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
}
.showbar h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $h2fontsize;
}
.content {
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  font-size: $confontsize;
  white-space: wrap;
  list-style-type: circle;
  line-height: 90px;
}
.smallcontent {
  list-style-type: square;
  margin-left: 40px;
  line-height: 40px;
}
.futureplan1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $h2fontsize;
  margin-bottom: 40px;
}
.futureplan2 {
  font-size: $confontsize;
  color: $fontcolor;
  font-family: sans-serif;
  text-wrap: wrap;
  line-height: 90px;
  padding-left: 20px;
}
.futureplan3 {
  margin-top: 10px;
  margin-right: 50px;
  margin-left: 50px;
  font-size: $confontsize;
  white-space: wrap;
  list-style-type: circle;
  line-height: 40px;
}
.futureplan4 {
  font-size: $confontsize;
  color: $fontcolor;
  font-family: sans-serif;
  text-wrap: wrap;
  line-height: 40px;
  padding-left: 20px;
  margin-top: 50px;
}
.content2 {
  margin-top: 50px;
  margin-right: 50px;
  margin-left: 50px;
  padding-top: 10%;
  padding-bottom: 5%;
}
.content2 h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $h2fontsize;
  text-wrap: wrap;
}
.content2 h3 {
  font-size: $namefontsize;
  margin-top: 80px;
  margin-bottom: 30px;
  margin-left: 50px;
}
.content2 p {
  font-size: $confontsize;
  margin: 40px 50px 40px 50px;
  padding-bottom: 1%;
  white-space: wrap;
  line-height: 40px;
}
.content2 li {
  line-height: 40px;
  list-style-type: circle;
  list-style-position: inside;
  padding-left: 100px;
}
.content3 {
  margin-top: 50px;
  margin-right: 50px;
  margin-left: 50px;
  padding-bottom: 5%;
}
.content3 h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $h2fontsize;
}
.content3 p {
  font-size: $confontsize;
  margin: 40px 50px 10px 50px;
  padding-bottom: 1%;
  white-space: wrap;
  line-height: 40px;
}
.content3ul1 {
  line-height: 40px;
  list-style-type: circle;
  list-style-position: inside;
  padding-left: 100px;
  padding-bottom: 30px;
}
.content3ul2 {
  list-style-type: square;
  margin-left: 40px;
}
.content3ul3 {
  line-height: 40px;
  list-style-type: circle;
  list-style-position: inside;
  padding-left: 100px;
  padding-bottom: 30px;
}
.content3ul4 {
  line-height: 40px;
  list-style-type: circle;
  list-style-position: inside;
  padding-left: 100px;
  padding-bottom: 30px;
}
.footer {
  width: 100%;
  height: 18px;
  margin-top: 20px;
  background-color: $background-color;
}
@media (max-width: 431px) {
  .topbar {
    width: 100%;
  }
  .wehelp {
    height: 60px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .wehelp h1 {
    font-size: 20px;
  }
  .smallwaving {
    display: block;
    width: 100%;
    height: auto;
    margin-top: -1px;
    position: relative;
    z-index: -1;
  }
  .waving {
    width: 100%;
    height: 10px;
    display: none;
    background-color: #f19149;
  }
  .profile {
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    flex-direction: column;
  }
  .photo {
    width: 320px;
    height: 320px;
    margin-right: auto;
    margin-left: auto;
  }
  .photo img {
    width: 320px;
    height: 320px;
  }
  .intro {
    width: 100%;
    padding-bottom: 1%;
    margin-right: auto;
    margin-left: auto;
  }

  .intro1 {
    font-size: 20px;
    line-height: 40px;
    text-align: center;
  }
  .intro2 {
    font-size: 15px;
    text-align: center;
  }
  .intro3 {
    font-size: 20px;
    line-height: 40px;
    text-align: center;
  }
  .intro4 {
    font-size: 15px;
    text-align: center;
  }
  .showbar h2 {
    font-size: 15px;
    text-align: center;
  }
  .content {
    font-size: 15px;
    text-align: center;
  }
  .smallcontent {
    font-size: 15px;
    text-align: center;
  }
  .futureplan1 {
    font-size: 15px;
    text-align: center;
  }
  .futureplan2 {
    font-size: 15px;
    text-align: center;
  }
  .futureplan3 {
    font-size: 15px;
    text-align: center;
  }
  .futureplan4 {
    font-size: 15px;
    text-align: center;
  }
  .content2 h2 {
    font-size: 20px;
    text-wrap: nowrap;
    text-align: center;
  }
  .content2 h3 {
    font-size: 20px;
    text-align: center;
    margin-left: 0px;
  }
  .content2 p {
    font-size: 15px;
    text-align: center;
  }
  .content2 li {
    font-size: 15px;
    text-align: center;
    margin-left: 0px;
    padding-left: 0px;
  }
  .content3 h2 {
    font-size: 20px;
    text-wrap: wrap;
    text-align: center;
    line-height: 25px;
    margin-top: 10px;
  }
  .content3 p {
    font-size: 15px;
    text-align: center;
    line-height: 25px;
  }
  .content3ul1 {
    font-size: 15px;
    text-align: center;
    margin-left: 0px;
    padding-left: 0px;
    line-height: 25px;
  }
  .content3ul2 {
    font-size: 15px;
    text-align: center;
    margin-left: 0px;
    padding-left: 0px;
    line-height: 25px;
  }
  .content3ul3 {
    font-size: 15px;
    text-align: center;
    margin-left: 0px;
    padding-left: 0px;
    line-height: 25px;
  }
  .content3ul4 {
    font-size: 15px;
    text-align: center;
    margin-left: 0px;
    padding-left: 0px;
    line-height: 25px;
  }
}
