$fontcolor:#000;
$background-color:#f19149;
$h1fontsize:32px;
$h2fontsize:30px;
$confontsize:16px;
$namefontsize:20px;
.topbar{
  width: 100%;
  background-color: $background-color;
  display: flex;
  justify-content: center;
}
.wehelp{
  width: 60%;
  background-color: #ffffff;
  margin-top: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wehelp h1{
  font-size: $h1fontsize;
  color: $fontcolor;
  font-family: sans-serif;
  margin-top: 25px;
  margin-bottom: 25px;
}
.waving{
  width: 100%;
  height: 450px;
  margin-bottom: 10px;
}
.bigwaving{
  width: 100%;
  height: 450px;
  object-fit: cover;
}
.smallwaving{
  display: none;
}
.profile{
  width: 100%;
  margin-top: 30px;
  display: flex;
}
.photo{
  width: 50%;
  padding-bottom: 40%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}
.intro{
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}
.intro h2{
  font-size: $namefontsize;
  color: $fontcolor;
  font-family: sans-serif;
  margin: 26px;
  line-height: 150px;
}
.intro p{
  font-size: $confontsize;
  color: $fontcolor;
  font-family: sans-serif;
  text-wrap: nowrap;
  margin: 26px;
  /*line-height: 90px;*/
}
.showbar{
  width: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
}
.showbar h2{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $namefontsize;
}
.content{
  margin-top: 90px;
  margin-right: 50px;
  margin-left: 50px;
  font-size: $confontsize;
}
.content2{
  margin-top: 90px;
  margin-right: 50px;
  margin-left: 50px;
  padding-top: 30%;
  padding-bottom: 30%;
}
.content2 h2{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $namefontsize;
}
.content2 h3{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $namefontsize;
  margin-top: 30px;
}
.content2 p{
  font-size: $confontsize;
  margin-top: 90px;
  margin-right: 50px;
  margin-left: 50px;
}
.footer{
  width: 100%;
  height: 18px;
  margin-top: 20px;
  background-color: $background-color;
}
@media(max-width: 376px){
  .topbar{
    width: 100%;
  }
  .wehelp{
    height: 60px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .wehelp h1{
    font-size: 20px;
  }
  .waving{
    width: 100%;
    height: 10px;
    display: none;
    background-color: #f19149;
  }
  .smallwaving{
    display: block;
    margin: 0;
    max-width: 100%;
    height: auto;
  }
  .profile{
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    flex-direction: column;
  }
  .photo{
    width: 320px;
    height: 320px;
    margin-right: auto;
    margin-left: auto;
  }
  .photo img{
    width: 320px;
    height: 320px;
  }
  .intro{
    width: 100%;
    height: 350px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .intro h2{
    font-size: 20px;
    line-height: 40px;
    text-align: center;
  }
  .intro p{
    font-size: 15px;
    text-align: center;
  }
  .showbar h2{
    font-size: 15px;
    text-align: center;
  }
  .showbar p{
    font-size: 15px;
    text-align: center;
  }
  .content2 h2{
    font-size: 20px;
    text-wrap: nowrap;
    text-align: center;
  }
  .content2 h3{
    font-size: 20px;
    text-align: center;
  }
  .content2 p{
    font-size: 15px;
    text-align: center;
  }
}